@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.8% 8.33%;
  font-family: "Poppins";
  background-color: $bgColor;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
